<%- include ("partials/header.ejs") %>

<div class="container">
  <% if (posts.length === 0){ %> <% }else{ %>

  <div class="d-flex justify-content-center">
    <a href="/create"
      ><input
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        value="Create New post"
    /></a>
  </div>

  <% } %> <% if (posts.length === 0){ %>
  
  <div class="container my-5">
    <div
      class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">
          Hey, it's too silent here
        </h1>
        <p class="lead">
          common, tell of the wonderous adventures. We'd love to read them
        </p>
        <div
          class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
        >
          <a href="/create"
            ><input
              type="button"
              class="btn btn-outline-secondary btn-lg px-4"
              value="Create post"
          /></a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img
          class="rounded-lg-3"
          src="/BACK END/Blog site/public/img/IMG-0105.jpg"
          alt="picture"
          width="720"
        />
      </div>
    </div>
  </div>
  <% }else{ %> <% posts.forEach((post) =>{ %>

  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <a href="/view/<%= posts.indexOf(post) %>"
        ><h1 class="text-body-emphasis"><%= post.title %></h1></a
      >
      <p class="lead"><%= post.content %></p>
      <p><%= post.date %></p>
    </div>
  </div>

  <% }) %> <% } %>
</div>

<%- include ("partials/footer.ejs") %>
